.shopping-cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 20px;
}

.btnShopping-cart{
  font-family: 'Poppins', sans-serif;
}

.card {
  cursor: pointer;
  margin-bottom: 10px;
}
  
.card-content {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}
  
.image-container img {
  text-align: center;
  width: 100%;
  height: auto;
  margin-left: 5px;
}

.center{
  text-align: center;
}

.product-info {
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

@media (min-width: 0px) and (max-width: 991px) {
  .image-container img {
    text-align: center;
    width: 30%;
    height: auto;
    margin-left: 0px;
  }  

  .product-info{
    margin-top: 20px;
    text-align: center;
  }

  .shopping-cart{
    margin: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .product-info {
    margin-left: 0px;
  }  
}