<mat-chip class="chip-subCategory" *ngIf="nameCategoria != ''">
  {{ nameCategoria }}
  <button matChipRemove (click)="onChipRemoved()">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>

<!--Sin Stock-->
<div *ngIf="existence == false" class="center-no-existence card-content-noStock un-selectable">
  <img class="img-noStock" src="https://t4.ftcdn.net/jpg/02/03/46/61/360_F_203466155_8OcqNJJ27u5qO5bdVzAhjKc9j0iEM7NL.jpg" alt="No se encontraron productos">
  <h4 class="fontStyle">
    Actualmente no hay productos disponibles en esta subcategoría. Nuestro equipo está trabajando arduamente para reponer el inventario. Mientras tanto, te invitamos a descubrir otros productos que podrían ser de tu interés.
  </h4>
</div>

<!--Listado de Productos-->
<div *ngFor="let product of products">
  <mat-card class="card">
    <div class="card-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 center">
            <div class="image-container">
              <img class="hidden" src="{{ imgURL+product.imagenes[0].nombre+imgJpg }}" alt="Imagen del producto">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="product-info">
              <h3>{{ product.nombre }}</h3>
              <p>Precio: $ {{ formatPrecio(product.precio + (product.precio * (product.iva / 100))) }}</p>
            </div>
          </div>
          <div class="col-lg-3">
            <span class="shopping-cart">
              <button class="btnShopping-cart" mat-flat-button (click)="addProduct(product)">
                <mat-icon matBadgePosition="above after">shopping_cart</mat-icon>
                <span class="button-flat-text">
                  Agregar
                </span>
              </button>
              <span *ngIf="stockInCartCount(product.id_producto) != 0 || false" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ stockInCartCount(product.id_producto) || 0 }}
              </span> 
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
