<h2 mat-dialog-title>Carrito de Compras</h2>

<button *ngIf="isHidden" class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon class="white-icon">more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="clearShoppingCart()">
    <mat-icon>delete</mat-icon>
    Vaciar carrito
  </button>
  <button mat-menu-item mat-dialog-close>
    <mat-icon>close</mat-icon>
    Cerrar
  </button>
</mat-menu>

<mat-dialog-content class="light-content">
    <!--Listado de Productos del Carrito de Compras-->
    <span *ngFor="let item of cartItems; let i = index">
    <mat-card class="card">
        <div class="card-content">
            <div class="container">
              <div class="row">
                <div class="col-lg-1 center">
                  <div class="image-container">
                    <img class="hidden" src="{{ imgURL+item.imagenes[0].nombre+imgJpg }}" alt="Imagen del producto">
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="product-info">
                    <h3 class="product-name">{{ item.nombre }}</h3>
                    <h4 class="price">$ {{ formatPrice(item.precio + (item.precio * (item.iva / 100))) }}</h4>
                  </div>
                </div>
                <div class="col-lg-3">
                  <button class="btn-clearProduct" mat-flat-button color="warn" (click)="removeProduct(i)">
                    <mat-icon>delete</mat-icon>
                    Eliminar
                </button>
                </div>
              </div>
            </div>
          </div>
    </mat-card> 
    </span>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button color="warn" *ngIf="!isHidden" (click)="clearShoppingCart()">
      <mat-icon>delete</mat-icon>
      Vaciar carrito
    </button>
    <button mat-flat-button mat-dialog-close cdkFocusInitial *ngIf="!isHidden">
        Cerrar
    </button>
    <h3 class="text-right">
      Total: $ {{ formatPrice(this.price) }}
    </h3>
    <button class="btn-SC" mat-flat-button color="primary" [mat-dialog-close]="true" disabled>
        <mat-icon>shopping_cart</mat-icon>
        Comprar
    </button>
</mat-dialog-actions>