<mat-toolbar class="nav-cg computer-border">
    <div class="container">
        <img class="logo-cg" src="https://compragamer.net/assets/img/logo-fix.png" alt="Logo">
        
        <span class="example-button-row position-relative button-right button-margin">
            <button class="font-style" mat-raised-button matBadge="{{ cartProductCount !== 0 ? cartProductCount : '' }}" matBadgeColor="warn" (click)="openDialogShoppingCart()">
                <mat-icon class="nav-icons nav-icon-shopping_cart" matBadgePosition="above after" style="margin-right: -4px;">shopping_cart</mat-icon>
            </button>
        </span>
        <span class="example-button-row position-relative button-right">
            <button mat-raised-button (click)="openDialog()">
                <mat-icon class="session-icon" matBadgePosition="above after" style="margin-right: -4px;">account_circle</mat-icon>
                <span class="session-text">
                    {{ sessionButton }}
                </span>
            </button>
        </span>
    </div>    
</mat-toolbar>