.subcategoria{
  cursor: pointer;
}

.custom-accordion .mat-expansion-panel-header {
    background-color: rgb(10, 10, 10);
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  }
  
  .custom-accordion .mat-expansion-panel-header:hover {
    background-color: rgb(25, 25, 25);
    animation: computer-animation 10s infinite linear;
  }
  
@keyframes computer-animation {
    0% {
      color: red;
    }
    14% {
      color: orange;
    }
    28% {
      color: yellow;
    }
    42% {
      color: rgb(123, 231, 0);
    }
    57% {
      color: rgb(0, 110, 255);
    }
    71% {
      color: rgb(149, 70, 214);
    }
    85% {
      color: violet;
    }
    100% {
      color: red;
    }
}